@import "tailwindcss";

@source "../../views";
@source "../../javascript";

@theme {
  --color-primary: #2e7d32;
  --color-primary-light: #81c784;
  --color-accent: #ec5b13;
  --color-bg-admin: #f8f9f8;
  --color-bg-customer: #f8f6f6;
}

body {
  font-family: 'Public Sans', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
